@using Microsoft.AspNetCore.Identity
@using TravelAgency.Models.UserRelated
@inject SignInManager<AccountModel> SignInManager
@inject UserManager<AccountModel> UserManager
@model TravelAgency.Models.UserRelated.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<link rel="stylesheet" href="~/css/change-password.css" asp-append-version="true"/>

<div class="container-change-password">
    <div class="row">
        <div class="col-md-2 offset-md-2">
            <div class="nav-links">
                <div class="mb-2">
                    <a class="btn btn-primary" asp-controller="Account" asp-action="ViewProfile">Profile</a>
                </div>
                <div class="mb-2">
                    <a class="btn btn-primary" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                </div>
                <div class="mb-2">
                    <a class="btn btn-primary" asp-controller="Account" asp-action="ViewBookings">Bookings</a>
                </div>
                @{
                var user = await UserManager.GetUserAsync(User);
                if (user!.Role == TravelAgency.Utils.Enumerations.UserRole.Admin)
                {
                <div>
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="AdminPanel">Admin Panel</a>
                </div>
                }
                }
            </div>
        </div>
        
        <div class="col-md-6">
            <h2>Change Password</h2>

            <form asp-controller="Account" asp-action="ChangePassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CurrentPassword"></label>
                    <input asp-for="CurrentPassword" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>

            @if (Model.Changed)
            {
                <div class="alert alert-success" role="alert">
                    Your password was successfully changed.
                </div>

                <p>
                    <a asp-controller="Home" asp-action="Index">Back to Home</a>
                </p>
            }
        </div>
    </div>
</div>