@using Microsoft.AspNetCore.Identity
@using TravelAgency.Models.UserRelated
@inject SignInManager<AccountModel> SignInManager
@inject UserManager<AccountModel> UserManager
@model TravelAgency.Models.UserRelated.ProfileViewModel

<link rel="stylesheet" href="~/css/view-profile.css" asp-append-version="true"/>

<div class="container">
    <div class="row">
        <div class="col-md-2 offset-md-2">
            <div class="nav-links">
                <div class="mb-2">
                    <a class="btn btn-primary" asp-controller="Account" asp-action="ViewProfile">Profile</a>
                </div>
                <div class="mb-2">
                    <a class="btn btn-primary" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                </div>
                <div class="mb-2">
                    <a class="btn btn-primary" asp-controller="Account" asp-action="ViewBookings">Bookings</a>
                </div>
                @{
                    var user = await UserManager.GetUserAsync(User);
                    if (user!.Role == TravelAgency.Utils.Enumerations.UserRole.Admin)
                    {
                        <div>
                            <a class="btn btn-primary" asp-controller="Admin" asp-action="AdminPanel">Admin Panel</a>
                        </div>
                    }
                }
            </div>
        </div>
        
        <div class="col-md-6">
            <h2>Profile info</h2>

            <form method="post">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>

            @if (Model.Changed)
            {
                <div class="alert alert-success" role="alert">
                    Profile information has been successfully updated.
                </div>

                <p>
                    <a asp-controller="Home" asp-action="Index">Back to Home</a>
                </p>
            }
        </div>
    </div>
</div>