/* Custom CSS styles for Add User view */

.container-add-user {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.control-label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-control {
    width: 100%; /* Adjusted to account for padding */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: darkgray;
}

.select-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: darkgray;
}

.btn-primary {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.text-danger {
    font-size: 14px;
}

.div-button {
    margin-top: 20px;
}